/*fonts*/
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:width 100;
  background-color: whitesmoke;
}

/*Navbar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #fd6e0a;
}
.btn-primary{
    color: white;
    background-color: #fd6e0a;
    font-weight: 700;
    border:none;
    border-radius: 5px;
    padding: 15px 35px;

}

nav> ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: black;
}

/*Header*/
.head-bc{
    background-color: #fff8f3;
}
.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}


.btn-contact{
    color: #fd6e0a;
    background-color: white;
    font-weight: 700;
    border-radius: 5px;
    border-color:#fd6e0a ;
    border-style: solid;
    padding: 15px 35px;

}
.pp{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    width: 585px;
    color: gr;
}

/*Main section start*/

main{
    max-width: 1140px;
    margin: 0 auto;
}

/*About section*/
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin: 130px 0px;
}
.about-background{
    background-color: white;
    border: solid black 1px;
    width: 827px;
}

.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: gray;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/*What I do*/
#i-do-desctiption{
    width: 909px;  
    padding-left: 110px;
}
.i-do-icon{
    display: flex;
}
.icon-head{
    background-color: white;
    margin: 10px;
    padding: 25px;
    border-radius: 5px;
}
.icon{
    width: 44px;
    padding-bottom: 10px;
}
.icon-title{
    font-size: 20px;
}
.icon-description{
    color: gray;
    font-size: 16px;
}